@import '../../../../styles/variables.scss';

.feedComment {
  position: relative;

  .deleteBtn {
    position: absolute;
    right: 12px;
    color: grey;
    background-color: white;
    border: none;
  }
}
