@import '../../styles/variables.scss';

nav#nav-yj {
  @include flex-align-center;
  justify-content: space-around;
  position: fixed;
  height: 55px;
  width: 100%;
  padding: 10px, 35px, 5px, 35px;
  background-color: white;
  border-bottom: 1px solid rgb(241, 240, 240);
  z-index: 1000;

  .navLogo {
    img {
      height: 20px;
      padding-right: 15px;
      border-right: 2px solid black;
    }

    h1 {
      display: inline;
      margin-left: 10px;
      font-family: 'Lobster', cursive;
      font-size: 25px;
    }
  }

  .navSearchForm {
    position: relative;

    i {
      position: absolute;
      left: 82px;
      padding-top: 8px;
      color: rgb(186, 187, 189);
      font-size: 12px;
    }

    input {
      width: 220px;
      height: 28px;
      border: 1px solid rgb(219, 219, 219);
      border-radius: 3px;
      background-color: rgb(250, 250, 250);
      outline: none;

      &::placeholder {
        color: rgb(165, 165, 165);
        text-align: center;
      }
    }
  }

  .navIcon img {
    width: 25px;
    margin: 0 7px;
  }
}
